<div align="left"> 

<h1>Privacy at LiveQueueTimes.com</h1>
<br>
<br>
<b><i>Tracking:</i></b> We do not use cookies or track our users.
<br>
<br>
<b><ii>Data:</ii></b> We do not collect user data of any kind.

<br>
<br>
<b><ii>3rd Parties:</ii></b> Some 3rd parties may collect data or statistical data.


</div>